{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link href="{% static 'css/join.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Join{% endblock %}

{% block content %}
<h1>Join Us</h1>
<p>Welcome to the join page! Please fill out the form below to get started:</p>

<form method="POST" action="{% url 'register' %}" class="registration-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}    
    <h2>Personal Information</h2>
    {{ form.full_name }}
    {{ form.nin_number }}
    {{ form.gender }}
    {{ form.age }}
    {{ form.marital_status }}
    {{ form.dob }}
    {{ form.place_of_birth }}
    {{ form.current_address }}
    {{ form.email }}
    {{ form.signature }}
    
    <h2>Professional Information</h2>
    {{ form.professional }}
    {{ form.place_of_work }}
    
    <h2>Next of Kin</h2>
    {{ form.next_of_kin_name }}
    {{ form.next_of_kin_email }}
    {{ form.next_of_kin_phone }}
    {{ form.next_of_kin_professional }}
    
    <button type="submit">Sign Up</button>
</form>

{% if form.errors %}
    <div class="errors">
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <p>{{ field|title }}: {{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
